{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dal Intern</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars.css" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <link rel='stylesheet' type="text/css" href="{% static 'resources/css/company_style.css' %}">

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="padding: 15px 15px;font-size:x-large;">  <strong style="color:orange">DAL</strong> Intern</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                  <a href="/companies"><li>Home</li></a>
                  <a href="/explore"><li>Explore</li></a>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
        <br>
    <br>
{% block content %}
{% endblock %}


    <style>
        .navbar-nav > li > a {
            color: ivory;
            transition: color 1s ease 0s;
        }

            .navbar-nav > li > a:hover {
                background-color: orange !important;
            }

        .disabledStars .br-wrapper > .br-widget > a {
            pointer-events: none;
        }
    </style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

</body>
</html>
